---
import type { GetStaticPaths } from 'astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon/components'
import Button from '@src/components/Button.astro'
import MainLayout from '@src/layouts/MainLayout.astro'
import AreasWeServeCard from '@src/components/AreasWeServeCard.astro'
import SideBySide from '@src/components/SideBySide.astro'

export const getStaticPaths = (async () => {
	const areas = await getCollection('serviceAreas')
	return areas.map((item) => ({
		params: { slug: item.slug },
		props: { area: item }
	}))
}) satisfies GetStaticPaths

const { area } = Astro.props
const { Content } = await area.render()
const data = area.data

// Get related equipment
const allAreas = await getCollection('serviceAreas')
const related = allAreas
	.filter(
		(item) =>
			// item.data.category === data.category &&
			item.slug !== area.slug && !item.data.draft
	)
	.slice(0, 4)

// Images for gallery
// const galleryImages = data.images || [data.cover];
---

<MainLayout title={data.title}>
	<!-- Hero Section -->
	<section class="relative py-16 lg:py-20 overflow-hidden bg-dark">
		<div class="absolute inset-0 opacity-20">
			<Image src={data.cover} alt={data.title} class="w-full h-full object-cover" />
		</div>
		<div class="max-w-7xl mx-auto px-4 relative z-10">
			<div class="text-center text-white">
				<!-- <span class="inline-block bg-primary text-white px-6 py-2 rounded-full font-bold mb-6">
					{data.label}
				</span> -->
				<h1 class="font-display text-4xl md:text-5xl mb-6">
					Plumbing services in {data.title}
				</h1>
				<div class="inline-flex h-1 pipe-divider w-40 mx-auto"></div>
			</div>
		</div>
	</section>

	<!-- Intro -->
	<SideBySide image={data.introImage} imageAlt="Alt" imageSide="right">
		<h2 class="font-display text-4xl md:text-5xl text-dark mb-6">{data.heading}</h2>
		{data.paragraphs.map((paragraph) => (
			<p class="text-base lg:text-lg my-6">{paragraph}</p>
		))}
		<Button>
			Message Us
			<Icon name="bi:arrow-right" class="text-2xl" />
		</Button>
	</SideBySide>

	<!-- Content -->
	<section class="py-16 lg:py-24 bg-white">
		<div class="max-w-4xl mx-auto px-4">
			<div class="bg-white">
				<div class="post-content">
					<Content />
				</div>
			</div>
		</div>
	</section>

	<!-- Related Service Areas -->
	{
		related.length > 0 && (
			<section class="pb-16 bg-white">
				<div class="max-w-7xl mx-auto px-4">
					<h2 class="font-display text-4xl text-center mb-12">Related Service Areas</h2>
					<div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
						{related.map((item) => (
							<AreasWeServeCard area={item} />
						))}
					</div>
				</div>
			</section>
		)
	}
</MainLayout>
